/**
 * 21-08-02 16:42 Monday 
 * This file used define the module layouts/home-layout styles.
 * This file must be imported into parent scss file, to take it effect.
 * like : @import './layouts/home-layout/home-layout.scss';
 */

/* there can define module variables or function */
.ant-layout-content {
  background: #fff;
}
.home {
  &-layout {
    &.ant-layout {
      background: url('~assets/images/bg-phone.jpg');
      background-size: cover;
    }

    > main.ant-layout-content {
      background: transparent;
    }

    > footer.ant-layout-footer {
      color: #fff;
      background: transparent;
    }
  }

  &-container {
    color: #fff;
  }
}
