/**
 * 21-08-11 20:34 Wednesday 
 * This file used define the module purchase/purchase-page styles.
 * This file must be imported into parent scss file, to take it effect.
 * like : @import './purchase/purchase-page/purchase.scss';
 */

/* there can define module variables or function */
.purchase {
  &-container {
    min-height: calc(100vh - #{$height-diff}px);
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 80%;
    // * {
    //   color: #fff;
    // }

    > div.ant-row {
      width: 100%;
    }

    h1 {
      color: #fff;
      line-height: 4.5rem;
      font-size: 2.75rem;
    }
  }

  &-form {
    div.ant-form-item-control-input-content {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
    }

    &-wrapper {
      background: rgba(255, 255, 255, 0.95);
      border: 1px solid #fff;
      border-radius: 0.5rem;
      padding: 0.85rem;

      span {
        color: #000;
      }
    }

    span {
      color: #000;
    }

    .balance-label-box {
      & > span:not(:first-child) {
        padding-left: 0.5rem;
      }

      & > span.token-valt {
        color: crimson;
      }
    }

    // width: 100%;
    // padding: 1rem 1.5rm;

    &-btns {
      width: 100%;
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;

      > button:not(:first-child) {
        margin-left: 24px;
      }
    }
  }

  &-order {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;

    .purchase-tx {
      overflow: hidden;
      text-overflow: ellipsis;
      word-break: break-all;

      &::before {
        content: 'Transaction Hash:';
        padding-right: 0.5rem;
        color: rgba(#000, 0.65);
      }
    }

    .purchase-id {
      overflow: hidden;
      text-overflow: ellipsis;
      word-break: break-all;

      &::before {
        content: 'Purchase Id:';
        padding-right: 0.5rem;
        color: rgba(#000, 0.65);
      }
    }

    &-title {
      flex: 1 1 auto;
      display: flex;
      flex-flow: column nowrap;
    }

    &-action {
      flex: 0 0 auto;
    }

    &-icon {
      cursor: pointer;
      color: #000;
      padding-left: 0.5rem;
      font-size: 1rem;
    }
  }
}



div.qrcode-wrapper-bottom-action {
  cursor: pointer;
}
