/**
 * 21-08-02 16:44 Monday 
 * This file used define the module home styles.
 * This file must be imported into parent scss file, to take it effect.
 * like : @import './home/home-page.scss';
 */

/* there can define module variables or function */

.home {
  &-container {
    min-height: calc(100vh - #{$height-diff}px);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__header {
    line-height: 8rem;

    h1 {
      color: #fff;
      font-size: 5.75rem;
      min-width: 650px;
    }
  }

  &__content {
    font-size: 1.85rem;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: 0.5rem 0;

    .downlaod-btn {
      cursor: pointer;
      padding: 0.5rem 1.5rem;
      flex: 0 0 45%;
      border: 1px solid #fff;
      border-radius: 0.75rem;
      text-align: justify;
      background: rgba(0, 0, 0, 0.02);
      // display: flex;
      // flex-flow: row nowrap;
      align-items: center;
      justify-content: center;

      > span.btn-text {
        flex: 1;
        justify-content: center;
        text-align: center;
      }

      & > span:not(:first-child) {
        padding-left: 0.4rem;
      }

      &:focus,
      &:hover {
        background: rgba(0, 0, 0, 0.2);
      }
    }
  }

  &__bottom {
    font-size: 1.85rem;
    padding: 0.5rem 0;
    padding-top: 1.5rem;
    .purchase-lic {
      cursor: pointer;
      padding: 0.5rem 1.5rem;
      flex: 0 0 45%;
      border: 1px solid #fff;
      border-radius: 0.75rem;
      text-align: center;
      background: rgba(0, 0, 0, 0.02);
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: center;

      > span.btn-text {
        flex: 1;
        justify-content: center;
        text-align: center;
      }

      &:focus,
      &:hover {
        background: rgba(0, 0, 0, 0.2);
      }
    }
  }
}

@media (device-height: 568px) and (-webkit-min-device-pixel-ratio: 2) {
  /* 兼容iphone5 */
  .home {
    span {
      user-select: none;
    }
    &__header {
      line-height: 4em;

      h1 {
        font-size: 3.75em;
        min-width: 80vw;
      }
    }

    &__content {
      .downlaod-btn {
        display: flex;
        flex-flow: column;
        & > span:not(:first-child) {
          padding-left: 0rem;
        }
      }
    }
  }
}
@media only screen and (max-device-width: 480px) {
  .home {
    span {
      user-select: none;
    }
    &__header {
      line-height: 4em;

      h1 {
        font-size: 3.75em;
        min-width: 80vw;
      }
    }

    &__content {
      .downlaod-btn {
        display: flex;
        flex-flow: column;
        & > span:not(:first-child) {
          padding-left: 0rem;
        }
      }
    }
  }
}
@media only screen and (min-device-width: 481px) {
}

/*6*/
@media (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
}

/*6+*/
@media (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) {
}

/*魅族*/
@media only screen and (min-device-width: 1080px) and (-webkit-min-device-pixel-ratio: 2.5) {
}

/*mate7*/
@media only screen and (min-device-width: 1080px) and (-webkit-min-device-pixel-ratio: 3) {
}

/*4 4s*/
@media only screen and (device-height: 480px) and (-webkit-device-pixel-ratio: 2) {
}
